<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
        <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body ng-controller="LifeController">
        <h1>Game "Life"</h1>
        <div id="grid">
            <div class="row" ng-repeat="row in rows track by $index">
                <div class="cell"
                     ng-repeat="cell in row track by $index"
                     ng-class="{'alive': cell}"
                     ng-click="setCell(!cell, $index, $parent.$index)">
                </div>
            </div>
        </div>
        <div id="buttons">
            <div id="btn-next" class="btn" ng-click="nextRound()">
                Step
            </div>
            <div id="btn-glider" class="btn" ng-click="createGlider()">
                Create Glider
            </div>
            <div id="btn-start" class="btn" ng-click="startAnimation()" ng-hide="animating">
                Start Animation
            </div>
            <div id="btn-stop" class="btn" ng-click="stopAnimation()" ng-show="animating">
                Stop Animation
            </div>
        </div>
        <div ng-controller="LifeDataController as vm">
            <div id="btn-load" class="btn" ng-click="loadData()">
                Load logging information
            </div>
            <div ui-grid="gridOptions" class="grid" ui-grid-pagination>
            </div>
        </div>
    </body>
</html>
